<!DOCTYPE html>
<html lang="fr">


<head>
    <link rel="stylesheet" href="~/ressources/styles.css">
    <title>HN - TP LOCAL</title>

</head>
<body>

    <div class="container">
        <div class="image">
            <img src="~/ressources/GroupeHN.png" alt="GroupeHN" />
        </div>
        <div class="text">
            <header>
                <h1>Liste des Avis</h1>
            </header>
        </div>
    </div>

    <div class="container">
        <div class="nav">
            <ul>
                <li><a href="/Home/Index/Accueil">Accueil</a></li>
                <li><a href="/Home/Index/Formulaire">Remplir le formulaire</a></li>
            </ul>
        </div>
        <div class="table">
            <p><strong>Liste :</strong></p>
            <table>



            </table>

        </div>

    </div>

</body>
</html>
