<!DOCTYPE html>
<html lang="fr">


<head>
    <link rel="stylesheet" href="~/ressources/styles.css">
    <title>HN - TP LOCAL</title>

</head>
<body>

    <div class="container">
        <div class="image">
            <img src="~/ressources/GroupeHN.png" alt="GroupeHN" />
        </div>
        <div class="text">
            <header>
                <h1>Formulaire TP HN Avis</h1>
            </header>
        </div>
    </div>

    <div class="container">
        <div class="nav">
            <ul>
                <li><a href="/Home/Index/Accueil">Accueil</a></li>
                <li><a href="/Home/Index/Listeavis">Liste avis</a></li>
            </ul>
        </div>
        <div class="table">
            <p><strong>Informations personnelles :</strong></p>
            <table>
                <tr>
                    <th>Nom</th>

                </tr>
                <tr>
                    <th>Prénom</th>

                </tr>
                <tr>
                    <th>Sexe</th>
                    <th>

                    </th>
                </tr>
                <tr>
                    <th>Adresse</th>

                </tr>
                <tr>
                    <th>Code Postal</th>

                </tr>
                <tr>
                    <th>Ville</th>

                </tr>
                <tr>
                    <th>Adresse mail</th>

                </tr>
            </table>
            <br />

            <p><strong>Informations formation suivie :</strong></p>
            <table>
                <tr>
                    <th>Date début formation</th>

                </tr>
                <tr>
                    <th>Formation suivie</th>
                    <th>

                    </th>
                </tr>
            </table>
            <br />

            <p><strong>Avis sur la formation :</strong></p>
            <table>
                <tr>
                    <th>Formation COBOL</th>

                </tr>
                <tr>
                    <th>Formation C#</th>

                </tr>
            </table>

        </div>

    </div>

</body>
</html>