@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang ="fr">


<head>
    <link rel="stylesheet" href="~/ressources/styles.css">
    <title>HN - TP LOCAL</title>

</head>
<body>

<div class="container">
        <div class="image">
            <img src="~/ressources/GroupeHN.png" alt="GroupeHN" />
        </div>
        <div class="text">
            <header>
                <h1>Bienvenue dans le TP HN</h1>
            </header>
        </div>
</div>

<div class="container">
        <div class="nav">
            <ul>
                <li><a href="/Home/Index/Formulaire">Remplir le formulaire :</a></li>
                <li><a href="/Home/Index/Listeavis">Liste avis :</a></li>
            </ul>
        </div>
        <div class="section">
            <p>
                <a href="/Home/Index/Formulaire">Remplir le formulaire :</a>
            </p>
        </div>
</div>

</body>
</html>


@{
    Layout = null;
}
